.a-propos-container {
    align-items: center;
    width: 80%;
    margin: auto;
    height: 100%;
    background: white;
}

.container-page {
    width: 100%;
    padding-top: 4rem;
    height: calc(100vh - 4rem);
}