.a-propos-container {
    width: 50%;
    margin: auto;
    text-align: justify;
    margin-top: 2rem;
}

.container-page {
    width: 100%;
    padding-top: 6rem;
    background: white;
    padding-bottom: 6rem;
}