.contact-container{
    position: absolute;
    top: 5rem;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: beige;
}
.grid-container{
    margin: auto;
    padding-top: 15%;
    width: 50%;

    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.titre{
    text-align: center;
    

    font-size: 2rem;
}
.contact-data{
    
    text-align: start;
    font-size: 2rem;
}