@media (min-width :1000px) {
    .detail-container {
        display: flex;
        height: 90%;
        margin-bottom: 5%;
    }

    .detail-ville {
        display: flex;
        margin-right: 20px;
    }

    .annee-p {
        position: absolute;
        right: 0;
        margin: 0;
        margin-right: 5rem;
    }
}

.carousel-control-next-icon::after,
.carousel-control-prev-icon::after {
    color: white;
    -webkit-text-stroke: 1px black;
    /* width and color */

    font-family: sans;
}



.Details-container {
    padding: auto;
}

.detail-title {
    font-weight: bold;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    top: 20%;
    font-family: "Century Gothic", sans-serif;
}

.text-container {
    width: 50%;
    margin: auto;
    align-items: center;
}

.description {
    text-justify: inter-word;
    font-size: 1.3rem;
    text-align: justify;
    font-family: "Century Gothic", sans-serif;
    max-height: 30vh;
    overflow: hidden;
    overflow-y: scroll;
}

.img-container {
    width: 40%;
    margin: auto;
}

.slick-slider {

    bottom: 20%;
}

.leave {
    position: absolute;
    top: 5%;
    right: 4%;
    height: 1.5vw;
}

.img-carousel {
    height: 100%;
    width: auto;
    margin: auto;
}

.carousel-inner {
    overflow: hidden;
    height: 50vh;
}

.carousel-item {
    height: 100%;
}

.detail-ville {
    font-size: 1.5rem;
    font-family: "Century Gothic", sans-serif;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}


.ville-p {
    margin: auto;
}

.image-carousel {
    width: 40vw;
    margin: auto;
}

.p-carousel {
    width: 50vw;
    margin: auto;
    height: 50vh;
}

.carousel-control-next-icon:after {
    content: "ï”";
}

.carousel {
    display: flex;
}

.carousel-inner {
    margin: auto;
}

@media (max-width: 1000px) and (orientation:portrait) {
    .detail-ville {
        display: flex;
        flex-direction: column;
    }

    .detail-container {
        display: flex;
        flex-direction: column-reverse;
        height: calc(100vh - 4rem);
    }

    .text-container {
        width: 80%;
        height: 50%;
    }


    .image-carousel {}

    .leave {
        height: 5vw;
    }

    .carousel-inner {
        margin: 0;
        width: auto;
        height: 100%;
    }

    .carousel {
        max-width: 90%;
        max-height: 50%;
        margin-bottom: 3vw;
        margin-top: 3vw;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .carousel-item {
        height: 100%;
    }

    .carousel-item>img {
        height: 100%;
        margin: auto;
    }

    .detail-title {
        padding-top: 1rem;
        font-size: 1.5rem;
    }

    .description {
        font-size: 1rem;
        height: auto;
        margin-bottom: 4rem;
    }

    .img-container {
        height: 40vh;
        width: auto;
        max-width: 80%;
    }
}