@media (min-width:800px) {
    .detail-container{
        display: flex;
        height: 90%;
        margin-bottom: 5%;
    } 
}
.Details-container{
    padding : auto;
}
.detail-title{
    font-weight: bold;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    top:20%;
    font-family:  "Century Gothic", sans-serif; 
}
.text-container{
    width: 50%;
    margin: auto;
    align-items: center;
}
.description{
    text-justify: inter-word;
    font-size: 1.3rem;
    text-align: justify;
    font-family:  "Century Gothic", sans-serif;
    max-height: 30vh;
    overflow: hidden;
    overflow-y: scroll;
}
.img-container{
    width: 40%;
    margin: auto;
}
.slick-slider{
    
    bottom: 20%;
}
.leave{
    position: absolute;
    top:0.5%;
    right: 4%;
    height: 1.5vw;
}

.detail-ville{
    font-size: 1.5rem;
    font-family:  "Century Gothic", sans-serif;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 800px) {
    .detail-container{
        display: flex;
        flex-direction:column-reverse ;
    }
    .text-container{
        padding-bottom: 2rem;
        width: 80%;
    }
    .leave{
        height: 5vw;
    }
    .detail-title{ 
        padding-top: 1rem;
        font-size: 1.5rem;
    }
    .description{
        font-size: 1rem;
    }
    .img-container{
        width: 80%;
    }
}