.test {
  color: white;
  background-color: black;
}

.projet {
  margin: 10px;
}

.projet-display {
  display: flex;
}

.card {
  width: 100%;
}

.projets-container {
  padding: 1rem;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  min-height: 100vh;
}

.projets-container-loaded {
  opacity: 1;
}

.MuiGrid-item {
  overflow: hidden;
}

.Grid-container {
  min-width: 100vw;
  padding-top: 4rem;
  background-color: white;
}

.MuiGrid-item {
  overflow: visible;
}