.test {
  color: white;
  background-color: black;
}

.projet {
  margin: 10px;
}

.projet-display {
  display: flex;
}

.card {
  width: 100%;
}

.MuiGrid-root {
  margin-top: 0 !important;
}

.projets-container {
  padding: 1rem;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  min-height: 100dvh;
  opacity: 0;
}

.projets-container-loaded {
  opacity: 1;
}

.MuiGrid-item {
  overflow: hidden;
}

.Grid-container {
  min-width: 100vw;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: white;
}

.MuiGrid-item {
  overflow: visible;
}

.searching-container {
  background-color: rgb(253, 253, 253);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 30px 40px -15px;
  width: 80dvw;
  margin: auto;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
}

@media (min-width:800px) {
  .input-search {
    grid-template-columns: 3fr 1fr 1fr;
    gap: 2vw;
  }
}

@media (max-width:800px) {
  .input-search {
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
  }

  .input-search input {
    grid-column: span 2;
  }
}

.input-search {
  width: 75%;
  margin: auto;
  display: grid;

}



.btn-float {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: auto;
}