.test {
  color: white;
  background-color: black;
}
.projet {
  margin: 10px;

}
.card{
  width: 100%;
}
@media (min-width:800px){
  .card{
    width:30vw
  }
}
.projets-container {
  padding: 3rem;
}
.MuiGrid-item {
  overflow: hidden;
}
.Grid-container {
  padding-top: calc(2.7vw + 50px);
  background-color: white;
  position: absolute;
}
