.accueil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

/* Style the child elements (div) inside the accueil container */
.accueil>div {
    margin: 20px;
    /* Add some margin between the child elements */
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
}

/* Optional: Make the child elements have the same width */
.accueil>* {
    flex: 1;
    padding: 20px;
}

.admin-links {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    transition: ease-in-out .5s;
}

.admin-links:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
}