.Detail-container {
    overflow: scroll;
    border: solid;
    border-width: 1px;
    background-color: transparent;
    width: 50%;
    max-height: 100dvh;
}

.header-admin-container {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
}

.header-admin {
    margin: auto;
}

.button-admin {
    margin-left: 50%;
}

.project-name {
    overflow-wrap: break-word;
    margin-left: 2vw;
    margin-right: 2vw;
}

.checkbox-vignette-container {
    display: flex;
    width: 33.33%;
    left: 0;
    flex-direction: column;
    height: 100%;
}

.titre-modif {
    font-weight: bold;
}

.label-detail {
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.modal-backdrop {}

.input-drag-n-drop {
    border: dashed 1px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(0, 110, 74)
}



.field-container {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.delete-button-img {
    align-items: center;
    margin: auto;
    top: 0;
    width: 33.33%;
    right: 0;
    border-radius: 50%;
}

fieldset>legend {
    width: 0 !important;
}

.checkbox-vignette {
    width: 1.5vw;
    max-width: 40px;
    height: 5vw;
    margin: auto
}

.image-admin {
    height: 15rem;
    width: auto;
}

.image-admin-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 15px;
    width: 100%;
    margin-bottom: 20rem;
}

.image-container {
    display: flex;
    overflow: hidden;
    margin: auto;
    padding-bottom: 1rem;
    height: 20vh;
    position: relative;
    width: 100%;
    padding-top: 1rem;
    border-top: dashed 1px gray;
}

.image-container-delete {
    right: 0;
    width: 33.33%;
    display: inline-block;
}

.image-container-delete img {
    display: block;
    margin-right: 8px;
    height: 95%;
    width: 95%;
    object-fit: contain;
}

.vignette-admin {
    width: auto;
    height: 30rem;
    margin: auto;
}

.image-vignette {
    display: flex;
    flex-direction: column;
}

.change-vignette {
    margin: auto !important;
    margin-bottom: 10px !important;
}