.admin-list-container {
    background-color: whitesmoke;
    display: flex;
    margin: 0;
}

.button-admin {
    width: 50%;
}

.del-row-container {
    display: flex;
}

.del-button {
    margin: auto;
}

.all-admin-container {
    padding-top: 5rem;
    background-color: whitesmoke;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.admin-button-container {
    display: flex;
    width: 50%;
}

.add-project-admin {
    width: 100% !important;
    margin-left: 0 !important;
}

.admin-list {
    align-items: center;
    width: 50%;
    height: calc(100dvh);
}



.one-row-header {
    display: flex;
    height: 3rem;
    align-items: center;
    width: auto;
}

.elem-title {
    font-weight: bold;
    text-align: center;
    width: 25%;
    font-size: 1.5rem;
    margin: auto;
    text-decoration: none;
}

.supp-title {
    width: 5%;
    text-align: center;
}

.admin-list {
    overflow: scroll;
}