.one-row {
    display: flex;
    height: 4rem;
    align-items: center;
    width: auto;
    padding: 10px;
    margin: auto;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.pair {
    background-color: rgb(233, 233, 233);
}

.image-elem {
    height: 100%;
}

.mini {
    width: 100%;
    padding: 0 !important;
}

.one-row:hover {
    background-color: #f0f0f0;
}

.poubelle {
    position: relative;
}

.elem {
    width: 25%;
    margin: auto;
    text-align: center;
    text-decoration: none;
}

.vignette-admin-list {
    width: auto;
    height: 100%;
    max-width: 100%;
}